# Dependencies
node_modules/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Next.js
apps/web/.next/
apps/web/out/

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
.turbo
